.react {
	width: 100%;
	height: auto;
	display: inline-block;
	border: transparent solid 2px;
	transition: border 0.2s;
}

@media (min-width: 480px) {

	.react {
		width: calc(25% - 6px);
	}
}

.react:hover {
	border-color: lightblue;
}

.content {
	max-width: 768px;
	width: 90%;
	margin: auto;
	position: relative;
}

body {
    font-family: 'Muli', Futura, sans-serif;
    background: #2F2F2F;
    color: white;
}

.header {
	background-color: #2F2F2F;
	position: fixed;
	top: 0;
	max-width: 768px;
	width: 90%;
}

h1 {
    letter-spacing: 1.2px;
    font-size: 28pt;
    margin: 0;
    margin: 25px 0 10px 0;
    text-transform: lowercase;
}

.search-bar {
    margin-top: 130px;
    text-align: center;
    font-size: 24pt;
}

input#search {
    height: 24pt;
    font-size: 18pt;
    background-color: transparent;
    border: 0;
    width: 100%;
    text-align: left;
    font-family:  'Muli', sans-serif;
    letter-spacing: 1px;
    color: lightblue;
}

input#search:focus {
    outline: 0;
}

.reactions {
    margin-top: 200px;
}

h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 12pt;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: lightblue;
    border-bottom: solid 1px lightblue;
    padding-bottom: 5px;
}